---
import '../styles/global.css';
import { SITE_TITLE, TWITTER_HANDLE } from '../consts';
import ogImage from '../assets/image-1.webp';

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: 'website' | 'article';
}

const {
  title,
  description,
  image = ogImage.src,
  type = 'website',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const resolvedImage = new URL(image, Astro.url).href;
---

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title={`${SITE_TITLE} posts`} />
<meta name="generator" content={Astro.generator} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content={type} />
<meta property="og:image" content={resolvedImage} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={TWITTER_HANDLE} />
<meta name="twitter:creator" content={TWITTER_HANDLE} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={resolvedImage} />
